main {
    margin-top: 104px;
}

.map-container {
    position: relative;
    overflow: hidden;
}

.container p {
    margin: 0;
    font-size: 1.5em;
}

.container h1 {
    display: flex;
    position: relative;
    font-size: 2em;
    margin-bottom: -15px;
}

div[class|="col"] {
 padding: 0;
}

.sm-md-line {
 display: none;
}

label {
  font-size: 1.1em;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid rgba(94.1%, 28.4%, 10.2%, 0.7);
    width: 100%;
}

.map-container:before, .map-container:after, #map:before, #map:after {
    content: '';
    position: absolute;
    box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, 0.3);
    
    z-index: 1;
}

.map-container:before { top: -5px; left: 0; right: 0; height: 5px; }
.map-container:after { right: -5px; top: 0; bottom: 0; width: 5px; }
#map:before { bottom: -5px; left: 0; right: 0; height: 5px; }
#map:after { left: -5px; top: 0; bottom: 0; width: 5px; }


.map-container {
   height: 75vh;
}

.social > .copyright {
    margin: 10px 0 10px 0;
    font-size: 14px;
}

#map {
   height: 100%;
}

#contactForm {
    display: flex;
    flex-direction: column;   
    margin-bottom: 20px;
}

#contactForm input, textarea {
width: 100%;
margin: 2px;
background-color: rgba(92.2%, 89%, 80.4%, 0.9);
border: 1px solid rgba(0%,0%,0%, 0.3);
-moz-box-shadow: 0px 2px 5px rgba(0%, 0%, 0%, 0.3);
-webkit-box-shadow: 0px 2px 5px rgba(0%, 0%, 0%, 0.3);
box-shadow: 0px 2px 5px rgba(0%, 0%, 0%, 0.3);
}

.container #contactForm .button {
margin-top: 1.5em;
background-color:rgba(94.1%, 28.4%, 10.2%, 1);
color: rgba(92.2%, 89%, 80.4%, 0.9);
width: 30%;
height: 25px;
border: 1px solid rgba(0%,0%,0%, 0.3);
-moz-box-shadow: 0px 2px 5px rgba(0%, 0%, 0%, 0.3);
-webkit-box-shadow: 0px 2px 5px rgba(0%, 0%, 0%, 0.3);
box-shadow: 0px 2px 5px rgba(0%, 0%, 0%, 0.3);
margin: 2px;
margin-top: 1em;
}

.wrapper {
    max-width: 30px;
    position: absolute;
    top: -3px;
    left: 50%;
    right: 50%;
}

svg {
    width: 30px;
    max-height: 40px;
    display: inline-block;
}

.arrow-down path {
	stroke: rgba(255%, 255%, 255%, 1);
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:.8}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:.8}
80% {opacity:0}
100% {opacity:0}
}

.arrow-down path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrow-down path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrow-down path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.container #contactForm  .button {
    max-width: 100%;
    position: relative;
}
.container #contactForm .button--split-effect.button--send,.container #contactForm .button--split-effect.button--send::before {
    opacity: 1;
    transition-property: box-shadow;
    will-change: box-shadow;
    transition-timing-function: linear;
    transition-duration: .2s;
}

.container #contactForm .button--split-effect.button--send::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border: 1px solid rgba(94.1%, 28.4%, 10.2%, 1);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 0;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    will-change: transform,opacity;
}

.container #contactForm .button--split-effect.button--send:focus,.container #contactForm .button--split-effect.button--send:hover {
    background-color: rgba(94.1%, 28.4%, 10.2%, 1);
    border-color: rgba(94.1%, 28.4%, 10.2%, 1);
    box-shadow: 6px 6px rgba(94.1%, 28.4%, 10.2%, 0.5);
}

.container #contactForm .button--split-effect.button--send:focus::before,.container #contactForm .button--split-effect.button--send:hover::before {
    -webkit-transform: translate(-6px,-6px);
    transform: translate(-6px,-6px);
    opacity: 1;
}

.container #contactForm .button--split-effect.button--send:active {
    background-color: rgba(94.1%, 28.4%, 10.2%, 1);
    border-color: rgba(94.1%, 28.4%, 10.2%, 1);
}

.container #contactForm .button--split-effect.button--send:active::before {
    border-color: rgba(94.1%, 28.4%, 10.2%, 1);
}

.container .social {
text-align: center;
}

@media all and (max-width: 576px) { 
.map-container {
   height: 65vh;
}

.container p {
    margin: 0;
    font-size: 1.3em;
}

.sm-md-line {
 display: block;
}

.wrapper {
 display: none;
}
}

@media all and (max-width: 767px) and (min-width: 577px) { 
.map-container {
   height: 65vh;
}

.sm-md-line {
 display: block;
}

}