html,body {
height:100%;
margin: 0;
box-sizing: border-box;
font-family: 'Alegreya', serif;
font-weight: bold;
text-shadow: -1px 0 rgba(0%,0%,0%, 0.4), 0 1px rgba(0%,0%,0%, 0.4), 1px 0 rgba(0%,0%,0%, 0.4), 0 -1px rgba(0%,0%,0%, 0.4);
}


.flex-container {
flex-direction: column;
background-image: url("../svg/i-like-food.svg");
background-size: 75px 75px;
background-color: rgba(96.4%, 82.5%, 47.7%, 0.85);
min-height: 100vh; 
flex: 1 0 auto;
order: 1;
}

.navbar {
background-image: url("../svg/i-like-food.svg");
background-color: rgba(96.4%, 82.5%, 47.7%, 0.85);
min-height: 105px;
-moz-box-shadow: 0px 1px 5px 1px rgba(0%, 0%, 0%, 0.7);
-webkit-box-shadow: 0px 1px 5px 1px rgba(0%, 0%, 0%, 0.7);
box-shadow: 0px 1px 5px 1px rgba(0%, 0%, 0%, 0.7);
}

a:focus {
  outline: none; 
  outline-offset: none; 
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
margin-right: -15px;
margin-left: -15px;
margin-bottom: 10px;
}

.navbar-nav {
float: right;
}

.navbar-inverse {
border: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border: none;
}

.navbar-inverse .navbar-brand {
color:rgba(94.1%, 28.4%, 10.2%, 1);
font-size: 2em;
padding-top: 1.2em;
position: relative;
}

.navbar-inverse .navbar-brand:hover {
color: rgba(94.1%, 28.4%, 10.2%, 1);
}

.navbar-inverse .navbar-brand::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 21px;
  left: 0;
  background-color: rgba(94.1%, 28.4%, 10.2%, 1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-inverse .navbar-brand:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-inverse .navbar-brand::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -17px;
  left: 0;
  background-color: rgba(94.1%, 28.4%, 10.2%, 1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-inverse .navbar-brand:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-inverse .navbar-toggle {
border-color: rgba(94.1%, 28.4%, 10.2%, 1);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
background-color: transparent; 
}

.navbar-inverse .navbar-toggle .icon-bar {
background-color: rgba(94.1%, 28.4%, 10.2%, 1);
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
color: rgba(94.1%, 28.4%, 10.2%, 1);
background-color: transparent; 
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
color: rgba(94.1%, 28.4%, 10.2%, 1);
background-color: transparent; 
}

.navbar-inverse .navbar-nav>li>a {
color: rgba(94.1%, 28.4%, 10.2%, 1);
font-size: 1.5em;
position: relative;
padding-top: 1.6em;
cursor: pointer;
}

.navbar-inverse .navbar-nav>li>a:hover {
color: rgba(94.1%, 28.4%, 10.2%, 1);
}

.navbar-inverse .navbar-nav>li>a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 27px;
  left: 0;
  background-color: rgba(94.1%, 28.4%, 10.2%, 1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-inverse .navbar-nav>li>a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-inverse .navbar-nav>li>a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 7px;
  left: 0;
  background-color: rgba(94.1%, 28.4%, 10.2%, 1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-inverse .navbar-nav>li>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.containerCarousel{
margin-top: 105px;
}

.carousel,
.item,
.active {
height: 75vh;
}

.carousel-inner {
height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
.fill {
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover; 
background-size: cover; 
margin: 0 auto;
background-attachment: fixed;
 -moz-box-shadow: inset  0 -5px 8px -3px rgba(0%, 0%, 0%, 0.85);;
    -webkit-box-shadow: inset  0 -5px 8px -3px rgba(0%, 0%, 0%, 0.85);;
    box-shadow: inset 0 -5px 8px -3px rgba(0%, 0%, 0%, 0.85);
}

footer {
order: 2;
border-top: 1px solid rgba(96.4%, 82.5%, 47.7%, 0.85);
-moz-box-shadow: 0px 2px 5px 5px rgba(0%, 0%, 0%, 0.60);
-webkit-box-shadow: 0px 2px 5px 5px rgba(0%, 0%, 0%, 0.60);
box-shadow: 0px 2px 5px 5px rgba(0%, 0%, 0%, 0.60);
font-size: 2vmin;
background-image: url("../svg/i-like-food.svg");
background-color: rgba(96.4%, 82.5%, 47.7%, 0.85);
}

.footer {
display: flex;
height: 105px;
justify-content: flex-end;
align-items: center;
}

.btn-social-icon.btn-vk {
margin-right: 15px;
}

.btn-facebook {
    background-color: #587ea3;
}

.carousel-inner > :nth-child(1) > .fill{
width: 1024px;
height: 768px;
background-color: transparent;
}

.carousel-inner > :nth-child(2) > .fill{
width: 1024px;
height: 768px;
background-color: transparent;
}

.carousel-inner > :nth-child(3) > .fill{
  width: 1024px;
  height: 768px;
  background-color: transparent;
}

/* media queries*/
@media all and (max-width: 576px) { 
.navbar {
background-image: url("../svg/i-like-food.svg");
background-color: rgba(96.4%, 82.5%, 47.7%, 0.9);
min-height: 105px;
}

.navbar-collapse  {
-webkit-box-shadow: none;
box-shadow: none;
}
.navbar-nav {
    float: left;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 0px;
    top: 28px;
    margin-right: 15px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-inverse .navbar-nav>li>a:after {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:hover:after {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:before {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:hover:before {
 display: none;
}

.navbar-nav {
    float: left;
}

.carousel,
.item,
.active {
height: 65vh;
}

.carousel-inner ~ a[class] {
display: none;
}

.containerCarousel{
margin-top: 104px;
}

.fill {
background-attachment: inherit;
}

.carousel-inner > :nth-child(1) > .fill{
  width: 1024px;
  height: 768px;
  background-color: transparent;
}

.carousel-inner > :nth-child(2) > .fill{
  width: 1024px;
  height: 768px;
  background-color: transparent;
}

.carousel-inner > :nth-child(3) > .fill{
  width: 1024px;
  height: 768px;
  background-color: transparent;
}

}

@media all and (max-width: 767px) and (min-width: 577px) { 
.navbar {
background-image: url("../svg/i-like-food.svg");
background-color: rgba(96.4%, 82.5%, 47.7%, 0.9);
min-height: 105px;
}

.navbar-nav {
    float: left;
}

.navbar-collapse {
padding-right: 15px;
padding-left: 15px;
overflow-x: visible;
-webkit-overflow-scrolling: touch;
border-top: 1px solid transparent;
-webkit-box-shadow: none;
box-shadow: none;
}

.navbar-toggle {
position: relative;
float: right;
padding: 9px 10px;
margin-top: 0px;
top: 28px;
margin-right: 15px;
margin-bottom: 0px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

.navbar-inverse .navbar-nav>li>a:after {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:hover:after {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:before {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:hover:before {
 display: none;
}

.carousel,
.item,
.active {
height: 65vh;
}

.carousel-inner ~ a[class] {
display: none;
}

.containerCarousel{
margin-top: 104px;
}

.fill {
background-attachment: inherit;
}

.carousel-inner > :nth-child(1) > .fill{
  width: 1024px;
  height: 768px;
  background-color: transparent;
}

.carousel-inner > :nth-child(2) > .fill{
  width: 1024px;
  height: 768px;
  background-color: transparent;
}

.carousel-inner > :nth-child(3) > .fill{
  width: 1024px;
  height: 768px;
  background-color: transparent;
}

}

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

