html,body {
height:100%;
margin: 0;
box-sizing: border-box;
font-family: 'Alegreya', serif;
font-weight: bold;
text-shadow: -1px 0 rgba(0%,0%,0%, 0.4), 0 1px rgba(0%,0%,0%, 0.4), 1px 0 rgba(0%,0%,0%, 0.4), 0 -1px rgba(0%,0%,0%, 0.4);
}

body {
min-height: 100vh;
margin-bottom: 120px;
}

.flex-container {
-webkit-flex: 1 100%;
flex: 1 100%;
}

.navbar {
background-image: url("../svg/i-like-food.svg");
background-color: rgba(96.4%, 82.5%, 47.7%, 0.85);
}

.navbar-inverse {
border: none;
  
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border: none;
}

.navbar-inverse .navbar-brand {
color:rgba(94.1%, 28.4%, 10.2%, 1);
font-size: 2em;
}

.navbar-inverse .navbar-toggle {
border-color: rgba(94.1%, 28.4%, 10.2%, 1);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
background-color: transparent; 
}

.navbar-inverse .navbar-toggle .icon-bar {
background-color: rgba(94.1%, 28.4%, 10.2%, 1);
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
color: rgba(94.1%, 28.4%, 10.2%, 1);
background-color: transparent; 
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
color: rgba(94.1%, 28.4%, 10.2%, 1);
background-color: transparent; 
}

.navbar-inverse .navbar-nav>li>a {
color: rgba(94.1%, 28.4%, 10.2%, 1);
line-height: 25px;
font-size: 1.5em;
position: relative;
}

.navbar-inverse .navbar-nav>li>a:hover {
color: rgba(94.1%, 28.4%, 10.2%, 1);
}

.navbar-inverse .navbar-nav>li>a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 7px;
  left: 0;
  background-color: rgba(94.1%, 28.4%, 10.2%, 1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-inverse .navbar-nav>li>a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-inverse .navbar-nav>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 7px;
  left: 0;
  background-color: rgba(94.1%, 28.4%, 10.2%, 1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-inverse .navbar-nav>li>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.containerCarousel{
margin-top: 55px;
}

main {

}

section {

}

.carousel,
.item,
.active {
height: 80vh;
}

.carousel-inner {
height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
.fill {
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover; 
background-size: cover; 
margin: 0 auto;
background-attachment: fixed;
}

footer {
display: flex;
height: 100vh;
font-size: 2vmin;
background-image: url("../svg/i-like-food.svg");
background-color: rgba(96.4%, 82.5%, 47.7%, 1);
}

.carousel-inner > :nth-child(1) > .fill{
background-image:url('../images/slide-1-lg.jpg');
}

.carousel-inner > :nth-child(2) > .fill{
background-image:url('../images/slide-2-lg.jpg');
}

.carousel-inner > :nth-child(3) > .fill{
background-image:url('../images/slide-3-lg.jpg');
}

/* media queries*/
@media all and (max-width: 576px) { 
.navbar {
background-image: url("../svg/i-like-food.svg");
background-color: rgba(96.4%, 82.5%, 47.7%, 0.9);
}

.navbar-inverse .navbar-nav>li>a:after {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:hover:after {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:before {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:hover:before {
 display: none;
}

.carousel,
.item,
.active {
height: 50vh;
}

.carousel-inner ~ a[class] {
display: none;
}

.containerCarousel{
margin-top: 50px;
}

.fill {
background-attachment: inherit;
}

.carousel-inner > :nth-child(1) > .fill{
background-image:url('../images/slide-1-md.jpg');
}

.carousel-inner > :nth-child(2) > .fill{
background-image:url('../images/slide-2-md.jpg');
}

.carousel-inner > :nth-child(3) > .fill{
background-image:url('../images/slide-3-md.jpg');
}
}

@media all and (max-width: 768px) and (min-width: 577px) { 
.navbar {
background-image: url("../svg/i-like-food.svg");
background-color: rgba(96.4%, 82.5%, 47.7%, 0.9);
}

.navbar-inverse .navbar-nav>li>a:after {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:hover:after {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:before {
 display: none;
}

.navbar-inverse .navbar-nav>li>a:hover:before {
 display: none;
}

.carousel,
.item,
.active {
height: 70vh;
}

.carousel-inner ~ a[class] {
display: none;
}

.containerCarousel{
margin-top: 50px;
}

.fill {
background-attachment: inherit;
}

.carousel-inner > :nth-child(1) > .fill{
background-image:url('../images/slide-1-md.jpg');
}

.carousel-inner > :nth-child(2) > .fill{
background-image:url('../images/slide-2-md.jpg');
}

.carousel-inner > :nth-child(3) > .fill{
background-image:url('../images/slide-3-md.jpg');
}

.navbar {
background-image: url("../svg/i-like-food.svg");
background-color: rgba(96.4%, 82.5%, 47.7%, 0.9);
}
}

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

