
.flex-row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin: 15px 0px;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}

#contentWrap {
  padding: 25px 0px;
}

.menu {
  width: 100%;
  padding: 15px 0 15px 0;
  overflow: hidden;
}

.item-img {
  position:relative;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  text-align: center;
}

  option:disabled {
  display: none;
}
  
  .flex-row img {
   max-width: 85%;
   border-right: 10px ;
   border-left: 10px;
   border-color: rgba(0%, 0%, 0%, 0.15);
   border-style: groove;
   border-radius: 25px;
   -webkit-filter: drop-shadow(2px 5px 5px rgba(0%, 0%, 0%, 0.60));
    filter: drop-shadow(2px 5px 5px rgba(0%, 0%, 0%, 0.60));
  }
  
  .sort {
  width: 100%;
  position: relative;
  z-index: 99;
  margin: 0px 0px 75px 0px;
  }
  
  select::-ms-expand {
    display: none;
  }

  #selectMenu {
  position: absolute;
  right: 0px;
  font-size: 1.5em;
  padding: 10px 30px 10px 10px;
  color: white;
  cursor: pointer;
  text-align: left;
  background-image: url(../svg/drop-down-arrow.svg);
  background-position: 90% 52%;
  background-repeat: no-repeat;
  background-color:rgba(94.1%, 28.4%, 10.2%, 0.9);
  -webkit-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(96.4%, 82.5%, 47.7%, 0.9);
  appearance: none;
  -moz-appearance: none; 
  -webkit-appearance: none;
  }
  
  option {
  background: rgba(94.1%, 28.4%, 10.2%, 0.9);
  }
  
  .flex-row img:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  }
 
  .notify-badge{
  position:relative;
  font-size: 1.7em;
  margin: 0;
  }
  
  .notify-badge span {
  height: 40px;
  color:rgba(94.1%, 28.4%, 10.2%, 1);
  line-height: 40px;
  }
  
  .product-img {
  background-size: contain;
  background-repeat: no-repeat;
  height: 18em;
  width: 90%;
  -webkit-filter: drop-shadow(1px 3px 1px rgba(255, 255, 255, 0.3));
  filter: drop-shadow(1px 3px 1px rgba(255, 255, 255, 0.3));
  }
  
  #roll,#salat,#burger,#chicken,#pizza {
    position: relative;
    top: -75px;
  }

  .modal-fullscreen {
  background: rgba(0%,0%,0%, 0.5);
  padding: 0!important;
  }
  
  .modal-fullscreen .modal-content {
    background-color: transparent;
    background-position: right top;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-repeat: no-repeat;
  }
  
  .modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: .97;
  }
  
  .modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  
  .modal-body > .container:first-child {
    border: 5px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    overflow: hidden;
  }
  
  .modal-body > .container > .row div {
    padding: 0;
  }
  
  .modal-body > .container > .row > div:last-child {
    color: rgba(94.1%, 28.4%, 10.2%, 1);
    text-shadow: -1px 0 rgba(0%,0%,0%, 0.4), 0 1px rgba(0%,0%,0%, 0.4), 1px 0 rgba(0%,0%,0%, 0.4), 0 -1px rgba(0%,0%,0%, 0.4);
  }
  
  .modal-body > .container > .row > div > p {
  text-align: center;
  margin-left: 50px;
  margin-top: 5px;
  padding: 0px 10px;
  padding-right: 20px;
  font-size: 1.5em;
  line-height: 1.5em;
  text-shadow: 1px 1px rgba(0%,0%,0%, 0.5), 2px 1px rgba(0%,0%,0%, 0.4), 3px 1px rgba(0%,0%,0%, 0.3), 0px -1px 5px rgba(255, 255, 255, 0.25), 0px 1px 5px rgba(255, 255, 255, 0.25);
  }
  
  .modal-body > .container > .row > div > p > b {
    font-size: 1.1em;
  }

  .modal-body > .container > .row > div > p > b::after {
    content: "";
    display: block;
    padding: 2px 0;
    line-height: 1px;
    margin-bottom: -25px;
    border-top: 2px dashed rgba(96.4%, 82.5%, 47.7%, 0.85);
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  .ribbon {
      background: rgba(255,255,255,0.2);
      position: absolute;
      width: 60px;
      right: -50px;
      line-height: 25px;
      font-size: 1.6em;
      text-align: center;
      font-weight: bold;
      text-shadow: 1px 1px rgba(0%,0%,0%, 0.3), 2px 1px rgba(0%,0%,0%, 0.4), 1px 2px 6px rgba(0%,0%,0%, 0.5);
      top: 0;
      margin-right: 10px;
      color: rgba(94.1%, 28.4%, 10.2%, 1);
      -webkit-filter: drop-shadow(1px 3px 10px rgba(255, 255, 255, 0.60));
      filter: drop-shadow(1px 3px 10px rgba(255, 255, 255, 0.60));
  }
  
  .ribbon:after,
  .ribbon:before {
      content: '';
      position: absolute;
      border-top: 20px solid rgba(255,255,255,0.2);
      height: 0;
      width: 0;
      top: 100%;
  }
  
  .ribbon:after {
      border-left: 30px solid transparent;
      right: 0px;
  }
  
  .ribbon:before {
      border-right: 30px solid transparent;
      left: 0px;
  }
  
  @media all and (max-width: 576px) { 
  .notify-badge{
  position:relative;
  font-size: 1.30em;
  margin: 0;
  }
  
  .row  img:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  }
  
  .modal-body > .container > .row > div > p {
    font-size: 1.3em;
    text-align: center;
    margin: 5px;
  }
  
  #selectMenu {
    font-size: 1.3em;
    }
  }
  
  @media all and (max-width: 767px) and (min-width: 577px) { 
  .modal-body > .container > .row > div > p {
    font-size: 1.4em;
    margin: 5px;
    }
  
    .notify-badge{
      position:relative;
      font-size: 1.4em;
      margin: 0;
    }

  #selectMenu {
    font-size: 1.4em;
    }
  }
  

@media all and (max-width: 991px) {
  .item-img {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}
  