#contentWrap {
    margin-top: 105px;
}

.indexContent .container {
    margin-top: 25px;
}

.container h1 {
    position: relative;
    font-size: 1.8em;
    margin: 15px 0 -5px 0;
}

hr {
    border-top: 2px solid rgba(94.1%, 28.4%, 10.2%, 0.7);
}

.indexContent .container .row:last-of-type {
    padding-bottom: 0px;
}

.indexContent .container .row:first-of-type {
    padding-top: 25px; 
}

.indexContent .container.jobs {
   
}

.indexContent .container .row div[class*="col"] {
    height: auto;
    text-align: center;
}

.indexContent .container .row div[class*="col"]:not(:last-child) {
   
}

.br {
display: none;
}

.indexContent .container .row div[class*="col"] img {
    max-width: 8em;
    margin: 0px 15px;
    border: 4px solid rgba(94.1%, 28.4%, 10.2%, 0.8);
    border-radius: 50%;
    background-color: rgba(96.4%, 82.5%, 47.7%, 0.8);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.indexContent .container .row div[class*="col"] p {
    font-size: 1.4em;
    margin: 0px 3px;
}

@media all and (max-width: 767px) and (min-width: 577px) { 
    .br {
        display: initial;
    }
    .container h1 {
        font-size: 1;
    }
}

@media all and (max-width: 576px) { 
    .indexContent .container .row div[class*="col"] p {
    font-size: 1.2em;
    }
    .br {
        display: initial;
    }
    .container h1 {
        text-align: center;
        font-size: 24px;
    }
    .wrapper {
        display: none;
    }
}

@media all and (max-width: 335px) {
    .indexContent .container .row div[class*="col"] p {
        font-size: 5vmin;
        }
        .br {
            display: initial;
        } 
}