.indexContent {
    width: 100%;
    overflow: hidden;
}

.container h1 {
    position: relative;
    font-size: 1.8em;
    margin: 15px 0 -5px 0;
}

hr {
    border-top: 2px solid rgba(94.1%, 28.4%, 10.2%, 0.7);
}

.wrapper {
    margin-left: -15px;
}

.grid-container .indexContent .svgImg .container .row {
    padding: 25px 15px;
}

.indexContent .svgImg .container .row div[class*="col"] {
    height: auto;
    text-align: center;
}

.indexContent .svgImg .container .row div[class*="col"] img {
    max-width: 8em;
    max-height: 8em;
    border: 2px solid rgba(94.1%, 28.4%, 10.2%, 1);
    margin: 5px;
    border-radius: 50%;
    background-color: hsla(43, 80%, 80%, 0.9);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.indexContent .svgImg .container .row div[class*="col"] p {
    font-size: 1.5em;
    margin: 0px 3px;
}

.indexContent article .container .row:first-of-type {
    padding-top: 0;
}

.indexContent article .container {
    margin-top: 0;
}

.imgHr {
    margin-top: 30px;
}

h1,article {
    text-align: center;
}

.bottomHr {
    margin-bottom: 30px;
}

.employee .row:nth-child(2) {
    padding: 5px 15px 35px 15px;
} 

.polaroids {
    height: 100%;
    z-index: 1;
}

.pictureFrame {
    position: relative;
}

.hook {
    width: 5px;
    height: 5px;
    background-color: #5c5c5d;
    margin: 0 auto 100px auto;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 0 1px black;
    box-shadow: 0 1px 0 1px black;
}

.hook:before {
    content: '';
    width: 100px;
    height: 100px;
    border: 2px solid #a49c7c;
    position: absolute;
    left: calc(50% - 50px);
    top: 25px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}

.polaroids::after {
    background-color: white;
    bottom: -1.5em;
    -webkit-box-shadow: 0 2px 1px hsla(0, 0%, 100%, .2), 0 -1px 1px 1px hsla(0, 0%, 0%, .4), inset 0 2px 3px 1px hsla(0, 0%, 0%, .2), inset 0 4px 3px 1px hsla(0, 0%, 0%, .2), inset 0 6px 3px 1px hsla(0, 0%, 0%, .1);
    box-shadow: 0 2px 1px hsla(0, 0%, 100%, .2), 0 -1px 1px 1px hsla(0, 0%, 0%, .4), inset 0 2px 3px 1px hsla(0, 0%, 0%, .2), inset 0 4px 3px 1px hsla(0, 0%, 0%, .2), inset 0 6px 3px 1px hsla(0, 0%, 0%, .1);
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
}

.polaroids::before {
    background-color: #22130c;
    bottom: -2.5em;
    -webkit-box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, .2), inset 0 -2px 1px hsla(0, 0%, 0%, .4), 0 5px 50px hsla(0, 0%, 0%, .25), 0 20px 20px -15px hsla(0, 0%, 0%, .2), 0 30px 20px -15px hsla(0, 0%, 0%, .15), 0 40px 20px -15px hsla(0, 0%, 0%, .1);
    box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, .2), inset 0 -2px 1px hsla(0, 0%, 0%, .4), 0 5px 50px hsla(0, 0%, 0%, .25), 0 20px 20px -15px hsla(0, 0%, 0%, .2), 0 30px 20px -15px hsla(0, 0%, 0%, .15), 0 40px 20px -15px hsla(0, 0%, 0%, .1);
    content: '';
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
}

.img-shadow {
    position: relative;
    max-width: 100%;
    float: left;
}

.img-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, .6);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .6);
}

.img-shadow img {
    width: 100%;
    float: left;
}

article {
    font-size: 1.5em;
}

.container h1 {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
}

@media all and (max-width: 767px) and (min-width: 577px) {
    .br {
        display: initial;
    }
    article, .indexContent .svgImg .container .row div[class*="col"] p {
        font-size: 1.4em;
    }
}

@media all and (max-width: 576px) {
    .indexContent .svgImg .container .row div[class*="col"] p {
        font-size: 1.3em;
        margin: 0px -10px 0px -10px;
        padding: 0px 5px;
        position: absolute;
        left: 0;
        right: 0;
    }
    article, .indexContent .svgImg .container .row div[class*="col"] p {
        font-size: 1.3em;
    }
    .br {
        display: initial;
    }
    .container h1 {
        text-align: center;
        font-size: 24px;
    }
    .wrapper {
        display: none;
    }
    .container h1 {
        padding-top: 15px;
    }
    article {
        font-size: 1.3em;
    }
    .grid-container .indexContent .container .row:nth-child(1) {
        padding-bottom: 35px;
    }
    .pictureFrame div[class*="col"] {
        padding: 0;
    }
}

@media all and (max-width: 335px) {
       .grid-container .indexContent .svgImg .container .row div[class*="col"] p {
        font-size: 5vmin;
    }
    .br {
        display: initial;
    }
    .infoText {
        font-size: 5vmin;
    }
}